#no-mobile {
  display: none;
}

@media screen and (min-width: 645px) {
  #no-mobile {
    position: fixed;
    z-index: 99;
    height: 100vh;
    background-color: var(--jpink);
    width: 100vw;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: whitesmoke;
  }
  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}
