.user-component {
  justify-content: space-between;
}
.user-component,
.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
  margin-top: 10px;
}

.user-component__title {
  font-weight: 400;
  font-size: 22px;
  color: var(--jpink);
}

.user-component__subtitle {
  color: grey;
  font-size: 17px;
  margin-top: 8px;
  font-weight: 10;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component--not--bold {
  font-weight: 100;
}

.user-component__column:last-child {
  color: grey;
}

.user-component__column--clock {
  position: static;
  margin-top: 15px;
}
